.actions-popup {
  width:250px;
  position:absolute;
  padding:.3em 0;
  z-index:100;
  inset: 30px 30px auto auto;
  border-radius:5px;
  background-color: var(--suggestions-bg);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  animation: actionsPopUp .1s linear;

  div {
    display:grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
    padding: .3em .5em;
    border-radius: 6px;

    &:active {
      background-color: var(--primary-color-transparent);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-transparent);
      }
    }

    span {
      font-size:1.1rem;
      font-weight:600;
    }

    svg {
      fill: var(--text-color);
    }
  }
}

.actions-popup.open-top {
  top: -125px;
}


@keyframes actionsPopUp {
  from {
    opacity: 0;
    transform: translateY(30%);
  }  

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .actions-popup, .actions-popup.open-top {
    position: fixed;
    inset: auto 20px 10px 30px;
    width: auto;
    animation: actionsPopUp-mobile .1s linear;

    div:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid var(--primary-color-transparent)
    }

    div {
      padding-block: .4em;

      span {
        font-size: 1.2rem;
      }
    }
  }
}

@keyframes actionsPopUp-mobile {
  from {
    opacity: 0;
    transform: translateY(100%);
  }  

  to {
    opacity: 1;
    transform: translateY(0);
  }
}