.subdisc-controls {
  position: absolute;
  inset: 25px 20px auto auto;
  width: 200px;
  padding-block: .2em;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-color: var(--suggestions-bg);
  z-index: 10;
  padding-block: .3em;
  animation: controls .15s linear;

  .control {
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
    padding: .3em .2em;
    border-radius: 7px;

    &:active {
      background-color: var(--primary-color-transparent);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-transparent);
      }
    }
    
    svg {
      width: 20px;
      fill: var(--text-color);
    }

    span {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  
  .control:first-child:hover {
    background-color: var(--red-color-danger-hover);
    color: var(--red-color-danger);
    svg {
      fill: var(--red-color-danger);
    }
  }
}

@keyframes controls {
  from {
    transform: translateY(30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .subdisc-controls {
    position: fixed;
    inset: auto 30px 10px 30px;
    width: auto;
    animation: controls-mobile .15s linear;
    
    
    .control:not(:last-of-type) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 1px solid var(--primary-color-transparent);
    }
    
    .control {
      padding-block: .5em;
      font-size: 1.3rem;
    }
  }
}

@keyframes controls-mobile {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}