.saved-video-controls-btn {
  position: relative;
}

.saved-video-controls {
  position: absolute;
  inset: 25px 20px auto auto;
  width: 220px;
  padding-block: .2em;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-color: var(--suggestions-bg);
  z-index: 10;
  animation: controls .15s linear;

  .control {
    display: flex;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    padding: .3em .5em;
    font-size: .96rem;
    border-radius: 6px;

    &:active {
      background-color: var(--primary-color-transparent);
    }

    &:first-child:active {
      background-color: var(--red-color-danger-hover);
      color: var(--red-color-danger);

      svg {
        fill: var(--red-color-danger);
      }
    }


    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color-transparent);
      }

      &:first-child:hover {
        background-color: var(--red-color-danger-hover);
        color: var(--red-color-danger);

        svg {
          fill: var(--red-color-danger);
        }
      }
    }

    svg {
      width: 20px;
      fill: var(--text-color);
    }
  }
}

@keyframes controls {
  from {
    transform: translateY(30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .saved-video-controls {
    position: fixed;
    inset: auto 30px 10px 30px;
    width: auto;
    animation: controls-mobile .15s linear;


    .control {
      padding-block: .5em;
      font-size: 1.1rem;
    }

    .control:not(:last-of-type) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 1px solid var(--primary-color-transparent);
    }
  }
}

@keyframes controls-mobile {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}